<div class="container mt-4">
    <h2>Update Event</h2>
    <form (submit)="updateEvent()">
        <div class="mb-3">
            <label for="name" class="form-label">Event Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="event.name" name="name" required>
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Adress</label>
            <input type="text" class="form-control" id="address" [(ngModel)]="event.address" name="address" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" [(ngModel)]="event.description" name="description" required>
        </div>
        <div class="mb-3">
            <label for="eventDate" class="form-label">Event Date</label>
            <input type="date" class="form-control" id="eventDate" [(ngModel)]="event.eventDate" name="eventDate" required>
        </div>
        <div class="mb-3">
            <label for="nbPlace" class="form-label">Number of places</label>
            <input type="number" class="form-control" id="nbPlace" [(ngModel)]="event.nbPlace" name="nbPlace" required>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" id="price" [(ngModel)]="event.price" name="price" required>
        </div>
        <div class="mb-3">
            <label for="hour" class="form-label">Event time</label>
            <input type="time" [(ngModel)]="event.hour" class="form-control" name="time">
        </div>
        <div class="mb-3">
            <label for="Image" class="form-label">Picture</label>
 
            <input type="file" class="form-control" id="hour" [(ngModel)]="event.image" name="Image" required>
        </div>
         
        <button type="submit" class="btn btn-primary">Update Event</button>
    </form>
</div>